includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-doctrine/rules.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
        - migrations/
    parallel:
        maximumNumberOfProcesses: 4
    doctrine:
        objectManagerLoader: phpstan/object-manager.php
    symfony:
        containerXmlPath: 'var/cache/dev/App_KernelDevDebugContainer.xml'
    rememberPossiblyImpureFunctionValues: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkImplicitMixed: true
    editorUrl: 'phpstorm://open?file=/Users/khr/Projects/drinks/%%relFile%%&line=%%line%%'
